@model IEnumerable<CveWebApp.Models.CveUpdateStaging>

@{
    ViewData["Title"] = "CVE List";
}

<h1>CVE List</h1>

<form method="get" asp-action="Index" class="form-inline mb-3">
    <select name="productFamily" class="form-control mr-2" onchange="this.form.submit()">
        <option value="">All Families</option>
        @foreach (var pf in ViewBag.ProductFamilies as List<string>)
        {
            if ((string)ViewBag.SelectedProductFamily == pf)
            {
                <option value="@pf" selected="selected">@pf</option>
            }
            else
            {
                <option value="@pf">@pf</option>
            }
        }
    </select>
    <select name="product" class="form-control mr-2" onchange="this.form.submit()">
        <option value="">All Products</option>
        @foreach (var p in ViewBag.Products as List<string>)
        {
            if ((string)ViewBag.SelectedProduct == p)
            {
                <option value="@p" selected="selected">@p</option>
            }
            else
            {
                <option value="@p">@p</option>
            }
        }
    </select>
    <select name="maxSeverity" class="form-control mr-2" onchange="this.form.submit()">
        <option value="">All Severities</option>
        @foreach (var s in ViewBag.MaxSeverities as List<string>)
        {
            if ((string)ViewBag.SelectedMaxSeverity == s)
            {
                <option value="@s" selected="selected">@s</option>
            }
            else
            {
                <option value="@s">@s</option>
            }
        }
    </select>
    <input type="text" name="article" class="form-control mr-2" placeholder="Article contains..." value="@ViewBag.ArticleQuery" />
    <button type="submit" class="btn btn-primary">Filter</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Reset</a>
</form>

<div style="margin-bottom: 1em;">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-start">
            <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new {
                    page = ViewBag.CurrentPage - 1,
                    productFamily = ViewBag.SelectedProductFamily,
                    product = ViewBag.SelectedProduct,
                    maxSeverity = ViewBag.SelectedMaxSeverity,
                    article = ViewBag.ArticleQuery
                })" tabindex="-1">Previous</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">
                    Page @ViewBag.CurrentPage of @ViewBag.TotalPages
                </span>
            </li>
            <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new {
                    page = ViewBag.CurrentPage + 1,
                    productFamily = ViewBag.SelectedProductFamily,
                    product = ViewBag.SelectedProduct,
                    maxSeverity = ViewBag.SelectedMaxSeverity,
                    article = ViewBag.ArticleQuery
                })">Next</a>
            </li>
        </ul>
    </nav>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductFamily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MaxSeverity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().BaseScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Details) @* CVE column *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.ReleaseDate?.ToString("yyyy-MM-dd")
        </td>
        <td>
            @item.ProductFamily
        </td>
        <td>
            @item.Product
        </td>
        <td>
            @item.MaxSeverity
        </td>
        <td>
            @item.Article
        </td>
        <td>
            @item.BaseScore
        </td>
        <td>
            @item.Details
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
        </td>
    </tr>
}
    </tbody>
</table>